[default]
; Node url
node_url = https://europe.signum.network
; Node port
node_port = 443
; Logging level
logging_level = WARNING
; Max retries
max_retries = 3

[test]
node_url = https://europe3.testnet.signum.network
; Node port
node_port = 443
